<table class="table">
    <thead>
      <tr>
        <th>Número de habitacion</th>
        <th>Tipo de habitacion</th>
        <th>Precio Por Noche</th>
        <th>Disponibilidad</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let habitacion of habitaciones">
        <td>{{ habitacion.numeroHabitacion }}</td>
        <td>{{ habitacion.tipoHabitacion }}</td>
        <td>{{ habitacion.precioPorNoche }}</td>
        <td>{{ habitacion.disponibilidad }}</td>
        <td>
            <div class="btn-group" role="group">
                <button (click)="editarHabitacion(habitacion)" class="btn btn-primary">Editar</button>
                <button (click)="eliminarHabitacion(habitacion.idHabitacion)" class="btn btn-danger">Borrar</button>
            </div>
        </td>
      </tr>
    </tbody>
  </table>
  
  <hr>

  <form (submit)="addHabitacion()" class="form">
    <div class="form-group">
      <label>Número de habitacion</label>
      <input type="text" [(ngModel)]="nuevaHabitacion.numeroHabitacion" name="numeroHabitacion" class="form-control">
    </div>
    <div class="form-group">
      <label>Tipo de habitacion</label>
      <input type="text" [(ngModel)]="nuevaHabitacion.tipoHabitacion" name="tipoHabitacion" class="form-control">
    </div>
    <div class="form-group">
      <label>Precio por noche</label>
      <input type="number" [(ngModel)]="nuevaHabitacion.precioPorNoche" name="precioPorNoche" class="form-control">
    </div>
    <div class="form-group">
      <label>Disponibilidad</label>
      <input type="text" [(ngModel)]="nuevaHabitacion.disponibilidad" name="disponibilidad" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Añadir habitacion</button>
  </form>
  
  <hr>
  
<form (submit)="actualizarPrecioPorNoche()" class="form">
<div class="form-group">
    <label>Tipo de habitacion:</label>
    <input type="text" [(ngModel)]="tipoHabitacion" name="tipoHabitacion" class="form-control">   
</div>
<div class="form-group">
    <label>Precio por noche:</label>
    <input type="number" [(ngModel)]="nuevoPrecioPorNoche" name="nuevoPrecioPorNoche" class="form-control">
</div>
    <button type="submit" class="btn btn-primary">Actualizar Precio Por Noche</button>
</form>