<h2>Lista de Clientes</h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <!-- Directiva de angular para iterar lista de clientes -->
        <tr *ngFor = "let cliente of clientes">
            <td>{{cliente.nombre}}</td>
            <td>{{cliente.apellido}}</td>
            <td>{{cliente.email}}</td>
            <td><!-- click - Sintaxis de Angular para evento click-->
                <button (click) = "updateCliente(cliente.idCliente)" class="btn btn-info">Actualizar</button>
                <button (click) = 'eliminarCliente(cliente.idCliente)' class="btn btn-danger" style="margin-left: 10px;"> Eliminar</button>
                <button (click) = 'detallesCliente(cliente.idCliente)' class="btn btn-info" style="margin-left: 10px;"> Vista</button>
            </td>
        </tr>
    </tbody>
</table>